.header{
    position: sticky;
    z-index: 100;
    width: 84%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7%;
    margin-top: 1%;
}

.header h1{
    font-weight: 300;
}

.header span{
    font-weight: 600;
}

#headernav{
    display: flex;
    flex-direction: row;
}

#headlink{
    color: white;
    text-decoration: none;
    margin-right: 25px;
}